/* El ancho del sitio será el 100% del ancho
de la pantalla del dispositivo */

body {
	width: 100%;
	margin-left: 0;
}

#container {
	width: 100%;
	height: auto;
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}

/* Posición fixed para que la barra de navegación
se mantenga en el mismo lugar cuando nos movemos
por el sitio */
nav {
	width: 100%;
	height: 64px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	background-color: #2C3E50;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	line-height: 36px;
	z-index: 2;
}

nav h1 {
	position: absolute;
	font-size: 24px;
	left: 125px;
	top: -5px;
}

nav h1 a {
	text-decoration: none;
	color: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 125px;
	top: 6px;
	text-transform: uppercase;
}

/* Como apliqué float:right, me aseguré de colocar
la lista a la inversa. Es decir, en html el primer
elemento es Contact, pero en el resultado final del
sitio se verá como el tercer elemento */
nav ul li {
	float: right;
}
/* Display Block para que toda la caja sea el enlace
y no sólo el texto */
li a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: white;
	top: 0;
	padding: 8px;
	letter-spacing: 1px;
}
/* Padding-top del mismo tamaño que la barra de navegación
para que no quede parte del header escondido detrás de la
barra */
header {
	width: 100%;
	height: 695px;
	background-color: #18BC9C;
	padding-top: 64px;
	color: white;
	overflow: hidden;
}

/* Dejando derecha e izquierda en posición 0, se crea
un conflicto, que auto resuelve al ubicar el elemento
en el medio de la caja en donde está ubicado */
#profile {
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 70px;
}

/*z-index 1 para que quede debajo de la barra de
navegación */
#content {
	width: 70%;
	height: 580px;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: 92px;
	z-index: 1;
}

#content h1 {
	position: absolute;
	top: 310px;
	font-size: 76px;
	left: 102px;
}

#symbol {
	width: 245px;
	height: 30px;
	position: absolute;
	top: 480px;
	left: 360px;
}

.line {
	width: 100px;
	height: 5px;
	background-color: white;
	display: inline-block;
	margin-bottom: 8px;
}

.fa.fa-star {
	font-size: 33px;
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
}

#text {
	position: absolute;
	top: 508px;
	left: 113px;
}

.description {
	font-family: Lato, sans-serif;
	font-size: 28px;
	color: white;
}

#portfolio {
	width: 100%;
	height: auto;
	background-color: white;
	padding-top: 60px;
}

#symbol-2 {
	width: 245px;
	height: 30px;
	color: #2C3E50;
	padding-left: 20px;
}

.line-2 {
	width: 100px;
	height: 5px;
	background-color: #2C3E50;
	display: inline-block;
	margin-bottom: 8px;
}

#portfolio h2 {
	color: #212529;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 10px;
}

#portfolio-title {
	padding-left: 544px;
}

#images {
	margin-top: 46px;
	margin-left: 110px;
}

figure {
	display: inline-block;
	margin: 13px;
}

#portfolio img {
	max-width: 350px;

}

#about {
	width: 100%;
	height: 600px;
	background-color: #18BC9C;
	color: white;
	margin-top: 70px;
}

#about h2 {
	font-size: 48px;
	line-height: 58px;
	margin: 10px;
	text-align: center;
}

#about-title {
	width: 260px;
	height: 100px;
	margin-left: 550px;
	padding-top: 100px;
}

#symbol-3 {
	width: 245px;
	height: 30px;
	margin-left: 10px;
}

#about p {
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 20px;
	display: inline-block;
	width: 350px;
	height: 200px;
	line-height: 30px;
	margin-right: 25px;
}

#about-text {
	padding-top: 10px;
	padding-left: 310px;
}

#download-button {
	width: 179px;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border: 2px solid white;
	margin-top: 15px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 20px;
	border-radius: 4.8px;
	margin-left: 570px;
}

#download-button i, span {
	padding-top: 4.5px;
}

#download-button:hover {
	background-color: white;
	color: #18BC9C;
}

#contact {
	width: 100%;
	padding-left: 310px;
	height: 800px;
	background-color: white;
}

#contact-title {
	padding-left: 200px;
}

#contact-title h2 {
	color: #212529;
	font-size: 45px;
	margin-bottom: 10px;
}

.dark-line {
	width: 100px;
	height: 5px;
	background-color: #2C3E50;
	display: inline-block;
	margin-bottom: 8px;
}

#symbol-4 {
	padding-left: 32px;
}

#contact .fa {
	color: #2C3E50;
}

input {
	display: block;
	border: none;
	border-bottom: 1px solid #eeeeee;
	font-size: 24px;
	font-family: "Helvetica", sans-serif;
	margin-bottom: 0;
	padding-bottom: 8px;
	box-shadow: none;
	line-height: 28px;
	width: 40%;
	height: 95px;
}

#message {
	display: block;
	border: none;
	border-bottom: 1px solid #eeeeee;
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 8px;
	line-height: 28px;
	box-shadow: none;
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	color: #343a40	;
	padding-top: 20px;
	width: 40%;
}

#contact button {
	background-color: #18BC9C;
	border: 1px solid transparent;
	color: white;
	font-family: Lato, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: none;
	padding: 8px 16px;
	margin-top: 20px;
}

footer {
	width: 100%;
	height: 345px;
	background-color: #2C3E50;
	color: white;
	font-size: 25px;
	padding-top: 15px;
	position: absolute;
}

footer p {
	font-family: Lato, sans-serif;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

#location {
	width: 28%;
	height: 130px;
	display: inline-block;
	text-align: center;
	margin-left: 100px;
}

#social-net {
	width: 28%;
	height: 130px;
	display: inline-block;
	text-align: center;
	margin-top: 0px;
}

#social-net a {
	text-decoration: none;
	color: white;
	line-height: 50px;
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

#about-foot {
	width: 28%;
	height: 130px;
	display: inline-block;
	text-align: center;
}



#copyright {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}

